#chat [data-cid^='20168147-'] .un:hover:after, #chat [data-cid^='20168147-'] .un:hover:after, #chat [data-cid^='20168147-'] .un:hover:after, #chat [data-cid^='20168147-'] .un:hover:after, #chat [data-cid^='20168147-'] .un:hover:after {
    content: TitanMusic Bot;
    background: url('http://egorganisation.com/images/Medal%20Silver.png');
    padding: 3px 6px;
    color: white;
    bottom: 20px;
    position: absolute;
    left: 5px;
    width: 79px;
    height: 26px;
}

}
[data-cid^="20168147-"] .badge-box .bdg {
    border-radius: 5px;
    background-image: url("http://i.imgur.com/eKqnlGD.jpg?1");
    background-repeat: round;
    background-size: 30px;
}
#user-rollover.id-20168147 .badge-box .bdg {
    border-radius: 5px;
    background-image: url("http://i.imgur.com/eKqnlGD.jpg?1");
    background-repeat: round;
    background-size: 30px;
}
[data-cid^="20168147-"] .msg .from .un {
    color: #25b961;
}
[data-cid^="20168147-"] #chat .emote {
    background: rgba(37,185,97,0.5);
    border-left: rgb(37,185,97) 3px solid;
}
