/*--------------------------------------------------------------------------------\
|		chat Settings
 \--------------------------------------------------------------------------------*/

#chat .badge-box i { 
    transform: scale(1); 
}

/*--------------------------------------------------------------------------------\
|		Backgrounds log after color
 \--------------------------------------------------------------------------------*/

.log:after {
    position: relative;
    font-family: Arial;
    margin-left: 10px;
    font-size: 11px;
    width: 300px;
    box-sizing: border-box;
    content: "☯F E A R F O X Y☯™ | PlugThemed - Blue: V 2.9.1.1!";
    font-weight: bold;
    padding: 5px;
    background-color: rgb(50, 50, 225);
    border-radius: 20px;
}

/*--------------------------------------------------------------------------------\
|		welcome & log
 \--------------------------------------------------------------------------------*/

#chat .cm.welcome {
    color: hsl(225, 80%, 60%);
    box-shadow: inset 0 0 0 1px hsl(225, 50%, 30%);
}

#chat .log {
    background: linear-gradient(hsla(225, 30%, 20%, 0.8), hsla(225, 30%, 15%, 0.8)), linear-gradient(to right, hsla(0, 0%, 0%, 0), hsla(0, 0%, 100%, 0.8)) ;
    box-shadow: inset 0 -1px 1px hsla(225, 30%, 10%, 0.8);
}

.cm strong {
    color: #21b1af;
}

.cm em {
    color: #21b1af;
}

/*--[moderation]--*/

#chat .cm.moderation {
    background: linear-gradient(hsla(225, 50%, 25%, 0.8), hsla(225, 50%, 15%, 0.8)), linear-gradient(to right, hsla(0, 0%, 0%, 0), hsla(0, 0%, 100%, 0.2)) ;
    box-shadow: inset 0 0 0 1px hsl(225, 50%, 50%);
    border: none ;
}

#chat .cm.moderation .timestamp {
    color: hsl(225, 70%, 70%);
}

/*--[user-action]--*/

#chat .cm.user-action {
    background: linear-gradient(hsla(225, 100%, 20%, 0.8), hsla(225, 100%, 10%, 0.8)), linear-gradient(to right, hsla(0, 0%, 0%, 0), hsla(0, 0%, 100%, 0.2)) ;
    box-shadow: inset 0 0 0 1px hsla(0, 0%, 100%, 0.1);
}

#chat .cm.user-action .msg .from .un, #chat .cm.user-action .timestamp {
    color: hsl(225, 90%, 70%) ;
}

#chat .cm.emote {
    background: linear-gradient(hsla(219, 100%, 20%, 0.8), hsla(219, 100%, 10%, 0.8)), linear-gradient(to right, hsla(0, 0%, 0%, 0), hsla(0, 0%, 100%, 0.2)) ;
    border-left: none ;
    text-align: left;
    box-shadow: inset 0 0 0 1px hsla(220, 100%, 50%, 0.5);
    border: none ;
}

#chat .cm.emote .un, #chat .cm.emote .timestamp {
    color: hsl(210, 100%, 60%) ;
}

#chat .cm.emote i {
    display: inline ;
}

#chat .emote .text {
    font-style: oblique ;
}

.fa-thumbs-up:before {
    content: "^";
}

.fa-thumbs-down:before {
 content: "¤";
}
