/* Trigstur: 5712221 */

#user-rollover.id-5712221 .meta, #user-rollover.id-5712221 .meta, #user-rollover.id-5712221 .meta {
    height: 150px;
}
element.style {
    height: 150px;
}
#user-rollover .meta {
    min-height: 126px;
}

#chat [data-cid^='5712221-'] .un:before, #chat [data-cid^='5712221-'] .un:before, #chat [data-cid^='5712221-'] .un:before, #chat [data-cid^='5712221-'] .un:before, #chat [data-cid^='5712221-'] .un:before {
    content: url("https://img.alibaba.com//wimg/feedback/icon/11-s.gif");
    top: 3px;
    left: -3px;
    position: relative;
}

#chat [data-cid^='5712221-'] .un, #chat [data-cid^='5712221-'] .un, #chat [data-cid^='5712221-'] .un, #chat [data-cid^='5712221-'] .un, #chat [data-cid^='5712221-'] .un {
    top: -3px ;
    position: relative;
}

#chat [data-cid^='5712221-'] .un:hover:after, #chat [data-cid^='5712221-'] .un:hover:after, #chat [data-cid^='5712221-'] .un:hover:after, #chat [data-cid^='5712221-'] .un:hover:after, #chat [data-cid^='5712221-'] .un:hover:after {
    content: TitanMusic Developer;
    background: url('https://img.alibaba.com//wimg/feedback/icon/11-s.gif');
    padding: 3px 6px;
    color: white;
    bottom: 20px;
    position: absolute;
    left: 5px;
    width: 79px;
    height: 26px;
}

#user-rollover.id-5712221 .meta, #user-rollover.id-5712221 .meta {
    height: 150px ;
}

#user-rollover.id-5712221 .meta:before, #user-rollover.id-5712221 .meta:before, #user-rollover.id-5712221 .meta:before, #user-rollover.id-5712221 .meta:before, #user-rollover.id-5712221 .meta:before {
    content: url("http://egorganisation.com/images/Medal%20Silver.png");
    top: 120px;
    left: 109px;
    position: absolute;
}

#user-rollover.id-5712221 .meta:after, #user-rollover.id-5712221 .meta:after, #user-rollover.id-5712221 .meta:after, #user-rollover.id-5712221 .meta:after, #user-rollover.id-5712221 .meta:after {
    content: 'TitanMusic Developer';
    color: #808691;
    position: absolute;
    top: 118px;
    left: 130px;
}
