/* Trigstur: 5712221 */
/* DO NOT TOUCH */
/* DO NOT TOUCH */
/* DO NOT TOUCH */
/* DO NOT TOUCH */
/* DO NOT TOUCH */
/* DO NOT TOUCH */
/* DO NOT TOUCH */
/* DO NOT TOUCH */
/* DO NOT TOUCH */
/* DO NOT TOUCH */
/* DO NOT TOUCH */
/* DO NOT TOUCH */
/* DO NOT TOUCH */
/* DO NOT TOUCH */
/* DO NOT TOUCH */
/* DO NOT TOUCH */
/* DO NOT TOUCH */
/* DO NOT TOUCH */
/* DO NOT TOUCH */

#chat-messages .id-5712221 {
    border-left: 3px solid rgb(60, 116, 249);
    background: rgb(20, 21, 24) !important;
    border-right: 3px solid rgb(60, 116, 249);
}

.id-5712221  > .msg > .from > i.icon-chat-cohost, 
#waitlist .list .user[data-uid="5712221 "] .meta.is-staff .name .icon-chat-cohost, 
#user-rollover.id-5712221 > .info > .role > i.icon-chat-cohost, 
#user-lists .list.room .user.id-5712221  .icon-chat-cohost
{
	background: url("https://lh3.ggpht.com/-JkqsXEOZDhY/UZJrsptMOWI/AAAAAAAADqY/ZsI2QK4SK6I/s1600/thunder-symbol-facebook-symbol.png") no-repeat !important;
}


.id-5712221 > .badge-box > i.bdg
{
    background-image:    url("http://rs1192.pbsrc.com/albums/aa331/YakusokuChan/Lawlit.gif~c200");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

#user-lists .list.room .user .icon-chat-cohost {
    background: url('https://lh3.ggpht.com/-JkqsXEOZDhY/UZJrsptMOWI/AAAAAAAADqY/ZsI2QK4SK6I/s1600/thunder-symbol-facebook-symbol.png')!important;
}

#user-rollover.id-5712221 .badge-box > i.bdg {
    background-image: url("http://rs1192.pbsrc.com/albums/aa331/YakusokuChan/Lawlit.gif~c200");
    background-size: cover;
    border-radius: 6px;
    background-repeat: no-repeat;
    background-position: center center;
}

.list.room .user.id-5712221 .icon-chat-dj {
    background: url("https://lh3.ggpht.com/-JkqsXEOZDhY/UZJrsptMOWI/AAAAAAAADqY/ZsI2QK4SK6I/s1600/thunder-symbol-facebook-symbol.png") no-repeat !important;
}

#user-rollover.id-5712221 .meta, #user-rollover.id-5712221 .meta, #user-rollover.id-5712221 .meta {
    height: 150px;
}
element.style {
    height: 150px;
}
#user-rollover .meta {
    min-height: 126px;
}

#chat [data-cid^='5712221-'] .un:before, #chat [data-cid^='5712221-'] .un:before, #chat [data-cid^='5712221-'] .un:before, #chat [data-cid^='5712221-'] .un:before, #chat [data-cid^='5712221-'] .un:before {
    content: url("https://lh3.ggpht.com/-JkqsXEOZDhY/UZJrsptMOWI/AAAAAAAADqY/ZsI2QK4SK6I/s1600/thunder-symbol-facebook-symbol.png");
    top: 6px;
    left: -3px;
    position: relative;
}

#chat [data-cid^='5712221-'] .un, #chat [data-cid^='5712221-'] .un, #chat [data-cid^='5712221-'] .un, #chat [data-cid^='5712221-'] .un, #chat [data-cid^='5712221-'] .un {
    top: -3px ;
    position: relative;
}

#user-rollover.id-5712221 .meta, #user-rollover.id-5712221 .meta {
    height: 150px ;
}

#user-rollover.id-5712221 .meta:before, #user-rollover.id-5712221 .meta:before, #user-rollover.id-5712221 .meta:before, #user-rollover.id-5712221 .meta:before, #user-rollover.id-5712221 .meta:before {
    content: url("https://lh3.ggpht.com/-JkqsXEOZDhY/UZJrsptMOWI/AAAAAAAADqY/ZsI2QK4SK6I/s1600/thunder-symbol-facebook-symbol.png");
    top: 120px;
    left: 109px;
    position: absolute;
}

#user-rollover.id-5712221 .meta:after, #user-rollover.id-5712221 .meta:after, #user-rollover.id-5712221 .meta:after, #user-rollover.id-5712221 .meta:after, #user-rollover.id-5712221 .meta:after {
    content: 'TM Head-Developer';
    color: #808691;
    position: absolute;
    top: 118px;
    left: 130px;
}

#chat [data-cid^='5712221-'] .un:hover:after,
#chat [data-cid^='5712221-'] .un:hover:after,
#chat [data-cid^='5712221-'] .un:hover:after,
#chat [data-cid^='5712221-'] .un:hover:after,
#chat [data-cid^='5712221-'] .un:hover:after{
    content: 'TM|Head-Developer';
    background: firebrick;
    padding: 3px 6px;
    bottom: 20px;
    position: absolute;
    left: 5px;
    width: 115px;
    height: 26px;
}


/* https://pastebin.com/favicon.ico */
