#user-rollover.id-3669054 .info .role i {
    position: absolute;
    margin: -17px 0 0 45px;
    display: none;
}

#user-rollover.is-promoter.id-3669054 .info .role {
    position: absolute;
    margin: -97px 0px 0px -132px ;
    display: inline-block;
    text-overflow: ellipsis ;
    white-space: nowrap ;
}

#user-rollover.is-promoter.id-3669054 .info .role span {
  background-image: url(https://i.imgur.com/a2zR8CP.png) !important;
  background-repeat: no-repeat;
  position: absolute;
  margin: -20px 0px 0px 0140px !important;
  padding: 0px 0px 0px 20px;
  display: inline-block;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  font-size: 13px;
  color: #1abc9c !important;
} 
  #user-rollover.id-3669054 .level:before {
  position: absolute;
  background-image: url(https://i.imgur.com/a2zR8CP.png);
  background-repeat: no-repeat;
  content: "Host";
  display: inline-block;
  color: #148ee0 !important;
  margin: 0px 0px 0 170px !important;
  padding: 0 0 0 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
} 
  #user-rollover.id-3669054 .meta {
    height: 145px;
