/*☠❤♛✧UkuT✧♛❤☠ 15253919*/
#chat-messages .from .icon {
    position: relative;
    top: -1px;
    z-index: 0;
    float: left;
    margin-right: 4px;
}

#user-rollover.id-15253919.meta, #user-rollover.id-15253919.meta, #user-rollover.id-15253919.meta {
    height: 150px;
}
#user-rollover .meta {
    min-height: 126px;
}

#chat [data-cid^='15253919-'] .un:before, #chat [data-cid^='15253919-'] .un:before, #chat [data-cid^='15253919-'] .un:before, #chat [data-cid^='15253919-'] .un:before, #chat [data-cid^='15253919-'] .un:before {
    content: url("http://www.gotigersolutions.com/images/medal-gold.png");
    top: -1px;
    left: -3px;
    position: relative;
}

#chat [data-cid^='15253919-'] .un, #chat [data-cid^='15253919-'] .un, #chat [data-cid^='15253919-'] .un, #chat [data-cid^='15253919-'] .un, #chat [data-cid^='15253919-'] .un {
    top: 3px ;
    position: relative;
}

#chat [data-cid^='15253919-'] .un:hover:after, #chat [data-cid^='15253919-'] .un:hover:after, #chat [data-cid^='15253919-'] .un:hover:after, #chat [data-cid^='15253919-'] .un:hover:after, #chat [data-cid^='15253919-'] .un:hover:after {
    content: TM Staff;
    background: url('http://www.gotigersolutions.com/images/medal-gold.png');
    padding: 3px 6px;
    color: white;
    bottom: 20px;
    position: absolute;
    left: 5px;
    width: 79px;
    height: 26px;
}

#user-rollover.id-15253919.meta, #user-rollover.id-15253919.meta {
    height: 150px ;
}

#user-rollover.id-15253919.meta:before, #user-rollover.id-15253919.meta:before, #user-rollover.id-15253919.meta:before, #user-rollover.id-15253919.meta:before, #user-rollover.id-15253919 .meta:before {
    content: url("http://www.gotigersolutions.com/images/medal-gold.png");
    top: 120px;
    left: 109px;
    position: absolute;
}

#user-rollover.id-15253919 .meta:after, #user-rollover.id-15253919 .meta:after, #user-rollover.id-15253919 .meta:after, #user-rollover.id-15253919 .meta:after, #user-rollover.id-15253919 .meta:after {
    content: 'TM Staff';
    color: #808691;
    position: absolute;
    top: 118px;
    left: 130px;
}

/*keekz🐺 Hardstyle 2017 ♫ 4766242*/
#chat-messages .from .icon {
    position: relative;
    top: -1px;
    z-index: 0;
    float: left;
    margin-right: 4px;
}

#user-rollover.id-4766242.meta, #user-rollover.id-4766242.meta, #user-rollover.id-4766242.meta {
    height: 150px;
}
#user-rollover .meta {
    min-height: 126px;
}

#chat [data-cid^='4766242-'] .un:before, #chat [data-cid^='4766242-'] .un:before, #chat [data-cid^='4766242-'] .un:before, #chat [data-cid^='4766242-'] .un:before, #chat [data-cid^='4766242-'] .un:before {
    content: url("http://www.gotigersolutions.com/images/medal-gold.png");
    top: -1px;
    left: -3px;
    position: relative;
}

#chat [data-cid^='4766242-'] .un, #chat [data-cid^='4766242-'] .un, #chat [data-cid^='4766242-'] .un, #chat [data-cid^='4766242-'] .un, #chat [data-cid^='4766242-'] .un {
    top: 3px ;
    position: relative;
}

#chat [data-cid^='4766242-'] .un:hover:after, #chat [data-cid^='4766242-'] .un:hover:after, #chat [data-cid^='4766242-'] .un:hover:after, #chat [data-cid^='4766242-'] .un:hover:after, #chat [data-cid^='4766242-'] .un:hover:after {
    content: TM Staff;
    background: url('http://www.gotigersolutions.com/images/medal-gold.png');
    padding: 3px 6px;
    color: blue;
    bottom: 20px;
    position: absolute;
    left: 5px;
    width: 79px;
    height: 26px;
}

#user-rollover.id-4766242.meta, #user-rollover.id-4766242.meta {
    height: 150px ;
}

#user-rollover.id-4766242.meta:before, #user-rollover.id-4766242.meta:before, #user-rollover.id-4766242.meta:before, #user-rollover.id-4766242.meta:before, #user-rollover.id-4766242 .meta:before {
    content: url("http://www.gotigersolutions.com/images/medal-gold.png");
    top: 120px;
    left: 109px;
    position: absolute;
}

#user-rollover.id-4766242 .meta:after, #user-rollover.id-4766242 .meta:after, #user-rollover.id-4766242 .meta:after, #user-rollover.id-4766242 .meta:after, #user-rollover.id-4766242 .meta:after {
    content: 'TM Staff';
    color: #808691;
    position: absolute;
    top: 118px;
    left: 130px;
}

#user-rollover.id-4766242 > .info > .role span:after
{
    visibility: visible;
    content:'/TM Helper';

/*More comming soon...*/
/*http://www.gotigersolutions.com/images/medal-gold.png*/
/*https://lh3.ggpht.com/-1tkQjLf2C9Q/UZOhoX35OHI/AAAAAAAADts/4-4ZLJ2b7S0/s1600/stars-symbol.png*/
