/*Developer:
TitanMusic | Developer: 3669054
*/

/*fix for glitching*/

#user-rollover .meta {
    min-height: 150px;
}

#chat [data-cid^='3669054-'] .un:before, #chat [data-cid^='3669054-'] .un:before, #chat [data-cid^='3669054-'] .un:before, #chat [data-cid^='3669054-'] .un:before, #chat [data-cid^='3669054-'] .un:before {
    content: url("http://egorganisation.com/images/Medal%20Silver.png");
    top: 4px;
    left: 1px;
    position: relative;
}

#chat [data-cid^='3669054-'] .un, #chat [data-cid^='3669054-'] .un, #chat [data-cid^='3669054-'] .un, #chat [data-cid^='3669054-'] .un, #chat [data-cid^='3669054-'] .un {
    top: px;
    position: relative;
}

#chat [data-cid^='3669054-'] .un:hover:after, #chat [data-cid^='3669054-'] .un:hover:after, #chat [data-cid^='3669054-'] .un:hover:after, #chat [data-cid^='3669054-'] .un:hover:after, #chat [data-cid^='3669054-'] .un:hover:after {
    content: TitanMusic Staff;
    background: url('https://rawgit.com/Satskhi/EDTRCS/master/images/tooltip.png');
    padding: 5px 5px;
    color: red;
    bottom: 5px;
    position: absolute;
    left: 5px;
    width: 5px;
    height: 5px;
}

/*normal supporters*/

#user-rollover.id-3669054 .meta, #user-rollover.id-3669054 .meta {
    height: 150px ;
}

#user-rollover.id-3669054 .meta:before, #user-rollover.id-3669054 .meta:before, #user-rollover.id-3669054 .meta:before, #user-rollover.id-3669054 .meta:before, #user-rollover.id-3669054 .meta:before {
    content: url("http://egorganisation.com/images/Medal%20Silver.png");
    top: 150px;
    left: 150px;
    position: absolute;
}

#user-rollover.id-3669054 .meta:after, #user-rollover.id-3669054 .meta:after, #user-rollover.id-3669054 .meta:after, #user-rollover.id-3669054 .meta:after, #user-rollover.id-3669054 .meta:after {
    content: 'TitanMusic Staff';
    color: #808691;
    position: absolute;
    top: 150px;
    left: 150px;
}

/*People who also staff another things (eg. RCS)*/

#user-rollover.id-3669054 .meta, #user-rollover.id-3669054 .meta, #user-rollover.id-3669054 .meta {
    height: 150px ;
}

#user-rollover.id-3669054 .meta #isSpecial, #user-rollover.id-3669054 .meta #isSpecial, #user-rollover.id-3669054 .meta #isSpecial {
    top: 150px ;
}

#user-rollover.id-3669054 .meta #isSpecialtxt, #user-rollover.id-3669054 .meta #isSpecialtxt, #user-rollover.id-3669054 .meta #isSpecialtxt {
    top: 150px ;
}

#user-rollover.is-none.can-mention.can-friend.can-ignore.can-shop.expand.chat.id-3669054.is-TitanMusic-Staff.role-subscriber.role-none div.meta.subscriber i#isSpecial {
    content: TitanMusic Staff;
    left: 150px;
    position: absolute;
    top: 150px;
}

#user-rollover.is-none.can-mention.can-friend.can-ignore.can-shop.expand.chat.id-3669054.is-TitanMusic-Staff.role-subscriber.role-none div.meta.subscriber span#isSpecialtxt {
    content: TitanMusic Staff;
    left: 150px;
    position: absolute;
    top: 150px;
}

element.style {
    height: 150px;
}
	
#user-rollover.is-host.can-mention.can-friend.expand.chat.id-3669054.is-developer.is-titanmusicstaff.role-host.role-host.role-subscriber div.meta.subscriber i#isSpecial {

}

#user-rollover.is-host.can-mention.can-friend.expand.chat.id-3669054.is-developer.is-titanmusicstaff.role-host.role-host.role-subscriber div.meta.subscriber span#isSpecialtxt {
}
