@import url("https://rawgit.com/TitanMusicDev/TMCss/master/Users.css");
@import url("https://rawgit.com/TitanMusicDev/TMCss/master/Staff.css");
@import url("https://rawgit.com/TitanMusicDev/TMCss/master/Bot.css");
@import url("https://rawgit.com/TitanMusicDev/TMCss/master/Supporters.css");
@import url("https://rawgit.com/TitanMusicDev/TMCss/master/Developer.css");
@import url("https://rawgit.com/TitanMusicDev/TMCss/master/Owner.css");
@import url("https://rawgit.com/TitanMusicDev/TMCss/master/Vip.css");
@import url("https://rawgit.com/TitanMusicDev/TMCss/master/Custom%20PP.css");

#chat-messages .from .icon {
    position: relative;
    top: 2px;
    z-index: 0;
    float: left;
    margin-right: 4px;
}
element.style {
    height: 150px;
}
#user-rollover .meta {
    min-height: 150px;
}
element.style { 
    height: 150px !important;
}
#chat .cm.user-action .msg .from .un, #chat .cm.user-action .timestamp {
    color: hsl(0, 0%, 100%);
}
#chat .cm.user-action {
    background: linear-gradient(hsl(205, 79%, 47%), #100887), linear-gradient(to right, hsla(0,0%,0%,0), hsla(0,0%,100%,.2));
    box-shadow: inset 0 0 0 1px hsla(0,0%,100%,.1);
}
#chat .user-action {
    color: #ffffff;
}
#chat .cm.moderation .timestamp {
    color: hsl(192, 100%, 50%);
}
.social-menu .subscribe {
    position: relative;
    top: 0;
    float: right;
    padding: 15px 15px;
    background: #000000;
    color: #000;
    font-weight: 400;
    font-size: 18px;
    font-family: "Open Sans",sans-serif;
    cursor: pointer;
}
.app-right #chat-input, #dashboard .search, #search-bar, #filter-bar, #user-friends .search, .app-right .friends .list-header .input-background {
    background: linear-gradient(to top, hsla(0, 0%, 0%, 0.8), hsla(0, 0%, 0%, 0.75));
    border-radius: 20px;
}

#chat-messages {
    border-color: #101550;
    box-shadow: 0 51px 0 rgba(2, 129, 255, 0.7);

}
TM.css:455
#chat .cm.moderation {
    background: linear-gradient(hsl(198, 57%, 3%), hsla(191, 50%, 15%, 0.8)), linear-gradient(to right, hsla(0,0%,0%,0), hsla(0,0%,100%,.2));
    border: none;
    box-shadow: inset 0 0 0 1px hsl(198, 100%, 43%);
}
#playlist-button {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 53px;
    height: 54px;
    -webkit-box-shadow: inset 0 2px 0 -1px #0a0a0a;
    background: #009cdd;
    background: -moz-linear-gradient(top,#ac76ff 0,#925aff 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#4100a5),color-stop(100%,#262527));
    background: -webkit-linear-gradient(top,#ac76ff 0,#925aff 100%);
    background: -o-linear-gradient(top,#ac76ff 0,#925aff 100%);
    background: -ms-linear-gradient(top,#ac76ff 0,#925aff 100%);
    background: linear-gradient(to bottom,#30c8fc 0,#03216f 100%);
    -moz-box-shadow: inset 0 2px 0 -1px #0a0a0a;
    box-shadow: inset 0 2px 0 -1px #0a0a0a;
    cursor: pointer;
}
#chat .moderation {
    color: #00ade3;
}
#chat .from.staff .un {
    color: #076289;
}
#history-button {
    position: absolute;
    right: 0;
    width: 54px;
    height: 54px;
    background: rgba(2, 0, 16, 0.19);
    -webkit-box-shadow: inset 0 -2px 0 -1px #0a0a0a;
    -moz-box-shadow: inset 0 -2px 0 -1px #0a0a0a;
    box-shadow: inset 0 -2px 0 -1px #009cdd;
    cursor: pointer;
}
.app-header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    overflow: hidden;
    width: 100%;
    height: 54px;
    background: rgba(0, 0, 0, 0.68);
    -webkit-box-shadow: inset 0 -2px 0 -1px #0a0a0a;
    -moz-box-shadow: inset 0 -2px 0 -1px #0a0a0a;
    box-shadow: inset 0 -2px 0 -1px #0a0a0a;
}
#chat-messages {
    position: absolute;
    top: 47px;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    border-bottom: #02c5ff 1px solid;
    color: #eee;
    font-size: 12px;
    font-family: Roboto,sans-serif;
}
#chat .welcome {
    color: #2dbcf2;
}
.header-panel-button.selected {
    border-right: none;
    background-color: rgba(0, 156, 221, 0.49);
    border-bottom: #009cdd;
    cursor: default;
}
::-webkit-scrollbar-thumb {
    background-color: #26a3dd!important;
    border: 2px solid #001f56!important;
    border-radius: 100px!important;
}

/* Style Codes */
.communities .grid .cell .meta {
    position: relative;
    z-index: 2;
    margin-top: 186px;
    width: 100%;
    height: 90px;
    background: rgba(15, 47, 90, 0.71);
    transition: all .25s ease-in;
}
.tab-menu button.selected {
    background: #00265e;
    color: #eee;
    cursor: default;
}
.communities .grid .cell .bar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 43px;
    background: rgb(36, 59, 107);
}
#rcs-progress-container .bar {
    height: 100%;
    width: 0;
    background-color: #d9d9d8;
    transition: background-color 7s;
    -webkit-transition: width 2s;
    transition: width 2s;
}
#rcs-progress-container {
    z-index: 25;
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;
    background-color: #0d1927;
    overflow: hidden;
}	
.rcs.item.selected span {
    color: hsl(200,60%,50%) ;	
}
 #user-lists .list.staff .group {
    border-top: 1px solid rgba(40, 120, 60, 8);
    border-bottom: 1px solid rgba(40, 120, 60, 8);
    background: rgba(40, 120, 60, 0.3);
 }
 #user-lists .list-header {
    top: 44px;
 }
 #user-lists .list.staff .user:hover .name {
    color: #EEE !important;
 }
 #user-lists .header {
    height: 42px;
 }
 #user-lists .header .button.selected {
    border-radius: 0px;
    background: radial-gradient(hsla(210,10%,50%,.5), hsla(210,10%,40%,.3));
    border: none !important;
 }
 #user-lists .header .button {
    top: 0px;
 }
 
#the-user-profile .meta {
	background: hsla(200,100%,90%,.05) !important;
	box-shadow: 0 0 0px 15px hsla(200,100%,90%,.05);
}
#the-user-profile .experience.section .header {
	box-shadow: none !important;
}
.notification {
	border-radius: 20px;
	background: rgba(50,100,255,.7);
}
#toast-notifications .left {
	border-radius: 20px 0 0 20px;
	background: linear-gradient(135deg, rgba(255,255,255,.4), rgba(0,0,0,0)) !important;
}
#toast-notifications .right {
	border-radius: 0 20px 20px 0;
	background: linear-gradient(rgba(255,255,255,.2), rgba(0,0,0,0)) !important;
}
#dialog-restricted-media .divider {
	background: hsl(225,50%,20%);
}
#dialog-restricted-media .submit {
	border-radius: 0 0 20px 20px;
}
#dialog-level-up {
	background: linear-gradient(hsl(210,10%,20%), hsl(210,10%,10%));
	box-shadow: 0 0 20px #000;
}
#dialog-level-up .dialog-body {
	background: transparent;
}
#dialog-preview .submit {
	border-radius: 0 0 20px 20px;
	background: transparent !important;
}
#dialog-user-role .button.submit {
	border-radius: 0 0 20px;
}
#dialog-user-role .button.cancel {
	border-radius: 0 0 0 20px;
}
#dialog-user-role .button.cancel span {
	color: hsl(15,80%,50%);
}	
#dialog-user-role .role-menu .menu ul li {
    border-color: hsla(210,10%,8%,.8);	
}
#search-suggestion {
	top: 48px;

.app-right {
	background-image: url(https://i.imgur.com/H99gROp.jpg);
}	
::-webkit-scrollbar-thumb { 
	background: #002964;
}	
#footer {
    background-image: url(https://i.imgur.com/H99gROp.jpg);
}
#footer-user .info .name, #footer-user .meta, .lobby .create span {
    font-size: 17px;
}
#footer-user .info .points .pp {
    color: hsl(200,100%,70%);
}
#footer-user .name span {
    font-weight: bold;	
}
#chat .cm {
    background: linear-gradient(hsla(220,10%,20%,.5), hsla(220,10%,15%,.5));
    box-shadow: inset 1px 1px 0 hsla(220,10%,20%,.8);
}
#chat .cm .badge-box {
    background: transparent;
}	
.cm em {
    color: #999;
}
.cm strong {
    color: #fff;	
}
#chat-messages::-webkit-scrollbar, .dropdown dd::-webkit-scrollbar, #woot-rs-list::-webkit-scrollbar, #grab-rs-list::-webkit-scrollbar, #meh-rs-list::-webkit-scrollbar, .dialog::-webkit-scrollbar {
    box-shadow: inset -1px 0 7px hsla(0,0%,0%,.7);
    width: 7px ;
}
#media-panel .media-list.playlist-media .meta {
    border: none ;
}
#room-info {
    -webkit-filter: opacity(100%);
    background-image: url(https://i.imgur.com/H99gROp.jpg);
    filter: opacity(100%);
}
