@import url("https://rawgit.com/TitanMusicDev/TMCss/master/Users.css");
@import url("https://rawgit.com/TitanMusicDev/TMCss/master/Staff.css");
@import url("https://rawgit.com/TitanMusicDev/TMCss/master/Bot.css");
@import url("https://rawgit.com/TitanMusicDev/TMCss/master/Supporters.css");
@import url("https://rawgit.com/TitanMusicDev/TMCss/master/Developer.css");
@import url("https://rawgit.com/TitanMusicDev/TMCss/master/Owner.css");
@import url("https://rawgit.com/TitanMusicDev/TMCss/master/Vip.css");
@import url("https://rawgit.com/TitanMusicDev/TMCss/master/Custom%20PP.css");
@import url("https://rawgit.com/TitanMusicDev/TMCss/master/Custom.css");
@import url("https://rawgit.com/TitanMusicDev/TMCss/master/WAM.css");

#chat-messages .from .icon {
    position: relative;
    top: 2px;
    z-index: 0;
    float: left;
    margin-right: 4px;
}
element.style {
    height: 150px;
}
#user-rollover .meta {
    min-height: 150px;
}
element.style { 
    height: 150px !important;
}

#user-rollover.role-cohost .role span {
    color: #00b5e6 !important;
}
