/* BOSS
-------------------------------------------------------------------------------*/
#user-lists .list .user.id-3896066 .name:after,
#user-rollover.id-3896066 .meta .username:after,
#chat [data-cid^='3896066-'] .un:after {
    content: "BOSS";
    margin-left: 5px;
    background: rgba(0,0,0,.3);
    padding: 0px 5px;
    border: 1px solid rgba(206,10,10,.5);
    border-radius: 5px;
    color: #ce0a0a;
    font-size: 10px;
}

/*===================================== Naudotojo valdyba */
#user-rollover.id-3896066 .meta .thumb {
    border-color: rgba(206,10,10,.8) !important;
}




/*Akira Luna*/
[data-cid^="4652147"].cm .msg .from .un, #user-lists .list .role-manager.id-4652147 .name {
  color: rgba(244, 0, 188, 1) !important;
}







/* Developer
-------------------------------------------------------------------------------*/


/* Domas */
#user-lists .list .user.id-6310947 .name:after,
#user-rollover.id-6310947 .meta .username:after,
#chat [data-cid^='6310947-'] .un:after {
    content: "DEV";
    margin-left: 5px;
    background: rgba(0,0,0,.3);
    padding: 0px 5px;
    border: 1px solid rgba(66,165,220,.5);
    border-radius: 2px;
    color: #f2a207;
    font-size: 8px;
}

/*===================================== Programuotojas */
#user-rollover.id-6310947 .meta .thumb {
    border-color: #f2a207 !important;
}








#user-rollover.is-staff.id-31911880 .info .role span {
    display: none;
}

#user-rollover.31911880 .level:after {
    position: absolute;
    content: url('http://i.imgur.com/xa4FR0w.png');
    left: 170px;
    top: 3px;
}

#user-rollover.id-31911880 .info .badge-box:after {
    content: "Chatbot";
    position: absolute;
    top: 6px;
    left: 228px;
    color: #ff9679;
    font-weight: bold;
    font-size: 13px;
}

#user-rollover.id-31911880 .info .role i {
  display: none;
}

/* BOT */
#chat-messages [data-cid^="31911880-"] .timestamp,
#chat [data-cid^="31911880-"].emote .timestamp {
    color: #ff9679 !important;
}

#user-lists .list .user.id-31911880 .name:after,
#user-rollover.id-31911880 .meta .username:after,
#chat [data-cid^='31911880-'] .un:after {
    content: "BOT";
    margin-left: 5px;
    background: rgba(0,0,0,.3);
    padding: 0px 5px;
    border: 1px solid rgba(172, 118, 255,.3);
    border-radius: 3px;
    color: #ff9679;
    font-size: 8px;
}

#chat [data-cid^="31911880-"].message .timestamp {
    color: #ff9679 !important;
}

#chat [data-cid^="31911880-"] .icon,
#chat .id-31911880 .icon {
    display: none !important;
}

#user-rollover.id-31911880 .username,
#user-lists .list .user.id-31911880 .name,
#user-rollover.id-31911880 .username,
#chat [data-cid^='31911880-'] .un {
    color: #ff9679 !important;
}

#chat-messages [data-cid^="31911880-"] .text {
    font-weight: bold;
}

#chat-messages [data-cid^="31911880-"] .msg {
    font-weight: bold;
}

#chat [data-cid^='31911880-'] {
  background: transparent;
  box-shadow: inset 0 1.5px 0 rgba(157, 150, 121,.3), inset 0 -1.5px 0 rgba(157, 150, 121,.3);
}

#chat [data-cid^='31911880-'] .from {
  background: linear-gradient(to right, rgba(157, 150, 121,.3), transparent);
  padding: 3px 0 3px 10px;
  border-radius: 10px 0 0 10px;
}










/*============-Mr. Ruthless============* Badge


 /* -Mr. Ruthless */
#chat-messages .id-3896066 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/o47RXle.png');
        background-size:        cover;
}

#user-rollover.id-3896066 .info .badge-box .bdg {
	background: url(https://i.imgur.com/o47RXle.png)
        center no-repeat!important;
}




/*============Domas============* Badge


 /* Domas */
#chat-messages .id-6310947 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/rc86p1s.gif');
        background-size:        cover;
}

#user-rollover.id-6310947 .info .badge-box .bdg {
	background: url(https://i.imgur.com/rc86p1s.gif)
        center no-repeat!important;
}




/*============silent============* Badge


 /* silent */
#chat-messages .id-17826818 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/vQZJxHY.png');
        background-size:        cover;
}

#user-rollover.id-17826818 .info .badge-box .bdg {
	background: url(https://i.imgur.com/vQZJxHY.png)
        center no-repeat!important;
}




/*============-karolite_liudeselis============* Badge


 /* -karolite_liudeselis */
#chat-messages .id-6381024 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/xihfA3z.jpg');
        background-size:        cover;
}

#user-rollover.id-6381024 .info .badge-box .bdg {
	background: url(https://i.imgur.com/xihfA3z.jpg)
        center no-repeat!important;
}




/*============Rudeninė Pandutė============* Badge


 /* Rudeninė Pandutė */
#chat-messages .id-4133404 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/7l0Drsx.gif');
        background-size:        cover;
}

#user-rollover.id-4133404 .info .badge-box .bdg {
	background: url(https://i.imgur.com/7l0Drsx.gif)
        center no-repeat!important;
}




/*============-Tomyoo============* Badge


 /* -Tomyoo */
#chat-messages .id-3635634 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/dbItMNQ.jpg');
        background-size:        cover;
}

#user-rollover.id-3635634 .info .badge-box .bdg {
	background: url(https://i.imgur.com/dbItMNQ.jpg)
        center no-repeat!important;
}




/*============-Antitė============* Badge


 /* -Antitė */
#chat-messages .id-28854785 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/BbmLjUX.png');
        background-size:        cover;
}

#user-rollover.id-28854785 .info .badge-box .bdg {
	background: url(https://i.imgur.com/BbmLjUX.png)
        center no-repeat!important;
}




/*============-BlackWhiteTiger============* Badge


 /* -BlackWhiteTiger */
#chat-messages .id-3721161 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/UGSYxOe.png');
        background-size:        cover;
}

#user-rollover.id-3721161 .info .badge-box .bdg {
	background: url(https://i.imgur.com/UGSYxOe.png)
        center no-repeat!important;
}




/*============Pandele-============* Badge


 /* Pandele- */
#chat-messages .id-4281529 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/tZ47sGw.jpg');
        background-size:        cover;
}

#user-rollover.id-4281529 .info .badge-box .bdg {
	background: url(https://i.imgur.com/tZ47sGw.jpg)
        center no-repeat!important;
}

	
	
	
/*============Slibins============* Badge


 /* Slibins */
#chat-messages .id-4117028 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/qaZKFB5.gif');
        background-size:        cover;
}

#user-rollover.id-4117028 .info .badge-box .bdg {
	background: url(https://i.imgur.com/qaZKFB5.gif)
        center no-repeat!important;
}




/*============-Anti-Sociopatai============* Badge


 /* -Anti-Sociopatai */
#chat-messages .id-31911880 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/NEEv3XN.png');
        background-size:        cover;
}

#user-rollover.id-31911880 .info .badge-box .bdg {
	background: url(https://i.imgur.com/NEEv3XN.png)
        center no-repeat!important;
}




/*============Ratas Ir Kvadratas============* Badge


 /* Ratas Ir Kvadratas */
#chat-messages .id-3554636 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/U49DsR7.png');
        background-size:        cover;
}

#user-rollover.id-3554636 .info .badge-box .bdg {
	background: url(https://i.imgur.com/U49DsR7.png)
        center no-repeat!important;
}




/*============- Sheriff============* Badge


 /* - Sheriff */
#chat-messages .id-3611882 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/iNOAqrX.png');
        background-size:        cover;
}

#user-rollover.id-3611882 .info .badge-box .bdg {
	background: url(https://i.imgur.com/iNOAqrX.png)
        center no-repeat!important;
}












