#woot:before {
    content: url(https://i.imgur.com/fb6GC0U.png?1);
    position: absolute;
    top: 0px;
    left: 265px;
}

.icon-woot {
    background-image: url(https://i.imgur.com/fb6GC0U.png?1);
    background-position: 0px 0px;
}

.votes-rs {
    top: -18px;
    z-index: -1 ;
    border-bottom: none ;
    background: linear-gradient(#000, transparent) ;
}

.votes-rs .voteslist {
    height: 160px;
}

.voteslist p {
    padding: 3px 0;
    text-shadow: 0 1px 3px rgba(0,0,0,.8);
}

#woot.crowd-response.disabled .icon:before, #woot.crowd-response.selected .icon:before {
    content: url(https://i.imgur.com/A8b60i9.png?1);
    position: absolute;
    right: 0px;
    padding: 0 1px;
}

#woot.crowd-response .icon:before {
    content: url(https://i.imgur.com/A8b60i9.png?1);
    position: absolute;
    right: 0px;
    padding: 0 0px;
}

#woot:hover .icon:before {
    -webkit-animation-name: woot;
    animation-name: woot;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

#woot .icon:before {
    opacity: 0;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

-webkit-keyframes woot {
}

#grab.crowd-response:not(.selected) .icon:after {
    content: url(https://i.imgur.com/fb6GC0U.png?1);
    position: absolute;
    right: 0px;
    padding: 1px 1px;
}

#grab.crowd-response.disabled .icon:after {
    content: url(https://i.imgur.com/fb6GC0U.png?1);
    position: absolute;
    right: 0px;
    padding: 1px 0px;
}

#grab:hover .icon:after {
    -webkit-animation-name: grab;
    animation-name: grab;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

#grab .icon:after {
    opacity: 0;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

-webkit-keyframes grab {
}

#meh.crowd-response.disabled .icon:after, #meh.crowd-response.selected .icon:after {
    content: url(https://i.imgur.com/fb6GC0U.png?1);
    position: absolute;
    right: 0px;
    padding: 0 1px;
}

#meh.crowd-response .icon:after {
    content: url(https://i.imgur.com/fb6GC0U.png?1);
    position: absolute;
    right: 0px;
    padding: 0 1px;
}

#meh:hover .icon:after {
    -webkit-animation-name: meh;
    animation-name: meh;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

#meh .icon:after {
    opacity: 0;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

-webkit-keyframes meh {
}

#woot.selected .icon, #grab.selected .icon, #meh.selected .icon {
    animation: pulse 1s ease infinite;
}

-moz-keyframes pulse {
}

-webkit-keyframes pulse {
}

-ms-keyframes pulse {
}

-o-keyframes pulse {
}

#woot, #grab, #meh {
    background-color: rgba(0, 0, 0, 0.20) ;
}

#vote .crowd-response.disabled .bottom {
    background: rgba(0, 0, 0, 0.28) ;
}

#woot .bottom, #grab .bottom, #meh .bottom {
    background-color: transparent ;
}

#vote > #woot.crowd-response, #vote > #woot.crowd-response .bottom {
    -webkit-box-shadow: inset 0 -3px 0 0 rgb(37, 185, 97) ;
    -moz-box-shadow: inset 0 -3px 0 0 rgb(37, 185, 97) ;
    -o-box-shadow: inset 0 -3px 0 0 rgb(37, 185, 97) ;
    box-shadow: inset 0 -3px 0 0 rgb(37, 185, 97) ;
}

#vote > #woot.crowd-response.selected .bottom, #vote > #woot.crowd-response:hover .bottom {
    -webkit-box-shadow: inset 0 -24px 0 0 rgb(37, 185, 97) ;
    -moz-box-shadow: inset 0 -24px 0 0 rgb(37, 185, 97) ;
    -o-box-shadow: inset 0 -24px 0 0 rgb(37, 185, 97) ;
    box-shadow: inset 0 -24px 0 0 rgb(37, 185, 97) ;
}

#vote > #woot.crowd-response.selected {
    -webkit-box-shadow: inset 0 -61px 0 0 rgb(37, 185, 97) ;
    -moz-box-shadow: inset 0 -61px 0 0 rgb(37, 185, 97) ;
    -o-box-shadow: inset 0 -61px 0 0 rgb(37, 185, 97) ;
    box-shadow: inset 0 -61px 0 0 rgb(37, 185, 97) ;
}

#vote > #grab.crowd-response .bottom, #vote > #grab.crowd-response .bottom {
    -webkit-box-shadow: inset 0 -3px 0 0 rgb(170, 116, 255) ;
    -moz-box-shadow: inset 0 -3px 0 0 rgb(170, 116, 255) ;
    -o-box-shadow: inset 0 -3px 0 0 rgb(170, 116, 255) ;
    box-shadow: inset 0 -3px 0 0 rgb(170, 116, 255) ;
}

#vote > #grab.crowd-response.selected .bottom, #vote > #grab.crowd-response:hover .bottom {
    -webkit-box-shadow: inset 0 -24px 0 0 rgb(170, 116, 255) ;
    -moz-box-shadow: inset 0 -24px 0 0 rgb(170, 116, 255) ;
    -o-box-shadow: inset 0 -24px 0 0 rgb(170, 116, 255) ;
    box-shadow: inset 0 -24px 0 0 rgb(170, 116, 255) ;
}

#vote > #grab.crowd-response.selected {
    -webkit-box-shadow: inset 0 -61px 0 0 rgb(170, 116, 255) ;
    -moz-box-shadow: inset 0 -61px 0 0 rgb(170, 116, 255) ;
    -o-box-shadow: inset 0 -61px 0 0 rgb(170, 116, 255) ;
    box-shadow: inset 0 -61px 0 0 rgb(170, 116, 255) ;
}

#vote > #meh.crowd-response, #vote > #meh.crowd-response .bottom {
    -webkit-box-shadow: inset 0 -4px 0 0 rgb(255, 0, 0) ;
    -moz-box-shadow: inset 0 -4px 0 0 rgb(255, 0, 0) ;
    -o-box-shadow: inset 0 -4px 0 0 rgb(255, 0, 0) ;
    box-shadow: inset 0 -4px 0 0 rgb(255, 0, 0) ;
}

#vote > #meh.crowd-response.selected .bottom, #vote > #meh.crowd-response:hover .bottom {
    -webkit-box-shadow: inset 0 -24px 0 0 rgb(50, 0, 255) ;
    -moz-box-shadow: inset 0 -24px 0 0 rgb(50, 0, 255) ;
    -o-box-shadow: inset 0 -24px 0 0 rgb(50, 0, 255) ;
    box-shadow: inset 0 -24px 0 0 rgb(50, 0, 255) ;
}

#vote > #meh.crowd-response.selected {
    -webkit-box-shadow: inset 0 -61px 0 0 rgb(50, 0, 255) ;
    -moz-box-shadow: inset 0 -61px 0 0 rgb(50, 0, 255) ;
    -o-box-shadow: inset 0 -61px 0 0 rgb(50, 0, 255) ;
    box-shadow: inset 0 -61px 0 0 rgb(50, 0, 255) ;
}

#chat .un, #vote, #woot, #woot .top, #woot .bottom, #grab, #grab .top, #grab .bottom, #meh, #meh .top, #meh .bottom {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
